# Мэтчинг товаров

**Задача:**

- разработать алгоритм, который для всех товаров из validation.csv предложит несколько вариантов наиболее похожих товаров из base; 
- оценить качество алгоритма по метрике accuracy@5.

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from scipy.spatial import distance
import faiss

In [2]:
base = pd.read_csv('data/base.csv')
train = pd.read_csv('data/train.csv')
validation_answer = pd.read_csv('data/validation_answer.csv')
validation = pd.read_csv('data/validation.csv')

In [3]:
display(base.info())
display(validation.info())
display(validation_answer.info())
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2918139 entries, 0 to 2918138
Data columns (total 73 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      object
 1   0       float64
 2   1       float64
 3   2       float64
 4   3       float64
 5   4       float64
 6   5       float64
 7   6       float64
 8   7       float64
 9   8       float64
 10  9       float64
 11  10      float64
 12  11      float64
 13  12      float64
 14  13      float64
 15  14      float64
 16  15      float64
 17  16      float64
 18  17      float64
 19  18      float64
 20  19      float64
 21  20      float64
 22  21      float64
 23  22      float64
 24  23      float64
 25  24      float64
 26  25      float64
 27  26      float64
 28  27      float64
 29  28      float64
 30  29      float64
 31  30      float64
 32  31      float64
 33  32      float64
 34  33      float64
 35  34      float64
 36  35      float64
 37  36      float64
 38  37      float64
 39  38      float64
 40  39      float64
 41  40      float64
 42  41      float64
 43  42      float64
 44  43      float64
 45  44      float64
 46  45      float64
 47  46      float64
 48  47      float64
 49  48      float64
 50  49      float64
 51  50      float64
 52  51      float64
 53  52      float64
 54  53      float64
 55  54      float64
 56  55      float64
 57  56      float64
 58  57      float64
 59  58      float64
 60  59      float64
 61  60      float64
 62  61      float64
 63  62      float64
 64  63      float64
 65  64      float64
 66  65      float64
 67  66      float64
 68  67      float64
 69  68      float64
 70  69      float64
 71  70      float64
 72  71      float64
dtypes: float64(72), object(1)
memory usage: 1.6+ GB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 73 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      100000 non-null  object
 1   0       100000 non-null  float64
 2   1       100000 non-null  float64
 3   2       100000 non-null  float64
 4   3       100000 non-null  float64
 5   4       100000 non-null  float64
 6   5       100000 non-null  float64
 7   6       100000 non-null  float64
 8   7       100000 non-null  float64
 9   8       100000 non-null  float64
 10  9       100000 non-null  float64
 11  10      100000 non-null  float64
 12  11      100000 non-null  float64
 13  12      100000 non-null  float64
 14  13      100000 non-null  float64
 15  14      100000 non-null  float64
 16  15      100000 non-null  float64
 17  16      100000 non-null  float64
 18  17      100000 non-null  float64
 19  18      100000 non-null  float64
 20  19      100000 non-null  float64
 21  20      100000 non-null  float64
 22  21      100000 non-null  float64
 23  22      100000 non-null  float64
 24  23      100000 non-null  float64
 25  24      100000 non-null  float64
 26  25      100000 non-null  float64
 27  26      100000 non-null  float64
 28  27      100000 non-null  float64
 29  28      100000 non-null  float64
 30  29      100000 non-null  float64
 31  30      100000 non-null  float64
 32  31      100000 non-null  float64
 33  32      100000 non-null  float64
 34  33      100000 non-null  float64
 35  34      100000 non-null  float64
 36  35      100000 non-null  float64
 37  36      100000 non-null  float64
 38  37      100000 non-null  float64
 39  38      100000 non-null  float64
 40  39      100000 non-null  float64
 41  40      100000 non-null  float64
 42  41      100000 non-null  float64
 43  42      100000 non-null  float64
 44  43      100000 non-null  float64
 45  44      100000 non-null  float64
 46  45      100000 non-null  float64
 47  46      100000 non-null  float64
 48  47      100000 non-null  float64
 49  48      100000 non-null  float64
 50  49      100000 non-null  float64
 51  50      100000 non-null  float64
 52  51      100000 non-null  float64
 53  52      100000 non-null  float64
 54  53      100000 non-null  float64
 55  54      100000 non-null  float64
 56  55      100000 non-null  float64
 57  56      100000 non-null  float64
 58  57      100000 non-null  float64
 59  58      100000 non-null  float64
 60  59      100000 non-null  float64
 61  60      100000 non-null  float64
 62  61      100000 non-null  float64
 63  62      100000 non-null  float64
 64  63      100000 non-null  float64
 65  64      100000 non-null  float64
 66  65      100000 non-null  float64
 67  66      100000 non-null  float64
 68  67      100000 non-null  float64
 69  68      100000 non-null  float64
 70  69      100000 non-null  float64
 71  70      100000 non-null  float64
 72  71      100000 non-null  float64
dtypes: float64(72), object(1)
memory usage: 55.7+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Id        100000 non-null  object
 1   Expected  100000 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 74 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      100000 non-null  object
 1   0       100000 non-null  float64
 2   1       100000 non-null  float64
 3   2       100000 non-null  float64
 4   3       100000 non-null  float64
 5   4       100000 non-null  float64
 6   5       100000 non-null  float64
 7   6       100000 non-null  float64
 8   7       100000 non-null  float64
 9   8       100000 non-null  float64
 10  9       100000 non-null  float64
 11  10      100000 non-null  float64
 12  11      100000 non-null  float64
 13  12      100000 non-null  float64
 14  13      100000 non-null  float64
 15  14      100000 non-null  float64
 16  15      100000 non-null  float64
 17  16      100000 non-null  float64
 18  17      100000 non-null  float64
 19  18      100000 non-null  float64
 20  19      100000 non-null  float64
 21  20      100000 non-null  float64
 22  21      100000 non-null  float64
 23  22      100000 non-null  float64
 24  23      100000 non-null  float64
 25  24      100000 non-null  float64
 26  25      100000 non-null  float64
 27  26      100000 non-null  float64
 28  27      100000 non-null  float64
 29  28      100000 non-null  float64
 30  29      100000 non-null  float64
 31  30      100000 non-null  float64
 32  31      100000 non-null  float64
 33  32      100000 non-null  float64
 34  33      100000 non-null  float64
 35  34      100000 non-null  float64
 36  35      100000 non-null  float64
 37  36      100000 non-null  float64
 38  37      100000 non-null  float64
 39  38      100000 non-null  float64
 40  39      100000 non-null  float64
 41  40      100000 non-null  float64
 42  41      100000 non-null  float64
 43  42      100000 non-null  float64
 44  43      100000 non-null  float64
 45  44      100000 non-null  float64
 46  45      100000 non-null  float64
 47  46      100000 non-null  float64
 48  47      100000 non-null  float64
 49  48      100000 non-null  float64
 50  49      100000 non-null  float64
 51  50      100000 non-null  float64
 52  51      100000 non-null  float64
 53  52      100000 non-null  float64
 54  53      100000 non-null  float64
 55  54      100000 non-null  float64
 56  55      100000 non-null  float64
 57  56      100000 non-null  float64
 58  57      100000 non-null  float64
 59  58      100000 non-null  float64
 60  59      100000 non-null  float64
 61  60      100000 non-null  float64
 62  61      100000 non-null  float64
 63  62      100000 non-null  float64
 64  63      100000 non-null  float64
 65  64      100000 non-null  float64
 66  65      100000 non-null  float64
 67  66      100000 non-null  float64
 68  67      100000 non-null  float64
 69  68      100000 non-null  float64
 70  69      100000 non-null  float64
 71  70      100000 non-null  float64
 72  71      100000 non-null  float64
 73  Target  100000 non-null  object
dtypes: float64(72), object(2)
memory usage: 56.5+ MB

In [4]:
base.head()

,Id,0,1,2,3,4,5,6,7,8,...,62,63,64,65,66,67,68,69,70,71
0,0-base,-115.083890,11.152912,-64.426760,-118.88089,216.482440,-104.698060,-469.070588,44.348083,120.915344,...,-42.808693,38.800827,-151.76218,-74.389090,63.66634,-4.703861,92.933610,115.269190,-112.756640,-60.830353
1,1-base,-34.562202,13.332763,-69.787610,-166.53348,57.680607,-86.098370,-85.076666,-35.637436,119.718636,...,-117.767525,41.100000,-157.82940,-94.446806,68.20211,24.346846,179.937930,116.834000,-84.888941,-59.524610
2,2-base,-54.233746,6.379371,-29.210136,-133.41383,150.895830,-99.435326,52.554795,62.381706,128.951450,...,-76.397800,46.011803,-207.14442,127.325570,65.56618,66.325680,81.073490,116.594154,-1074.464888,-32.527206
3,3-base,-87.520130,4.037884,-87.803030,-185.06763,76.369540,-58.985165,-383.182845,-33.611237,122.031910,...,-70.647940,-6.358921,-147.20105,-37.692750,66.20289,-20.566910,137.206940,117.474100,-1074.464888,-72.915490
4,4-base,-72.743850,6.522049,43.671265,-140.60803,5.820023,-112.074080,-397.711282,45.182500,122.167180,...,-57.199104,56.642403,-159.35184,85.944724,66.76632,-2.505783,65.315285,135.051590,-1074.464888,0.319401

Перед нами датасет base.csv с 2 918 139 записями, у каждой 72 столбца с данными и еще один столбец с id (в формате n-base, где n - порядковый норер записи)

In [5]:
validation.head()

,Id,0,1,2,3,4,5,6,7,8,...,62,63,64,65,66,67,68,69,70,71
0,100000-query,-57.372734,3.597752,-13.213642,-125.92679,110.74594,-81.279594,-461.003172,139.815720,112.880980,...,-75.51302,52.830902,-143.43945,59.051935,69.28224,61.927513,111.59253,115.140656,-1099.130485,-117.079360
1,100001-query,-53.758705,12.790300,-43.268543,-134.41762,114.44991,-90.520130,-759.626065,63.995087,127.117905,...,-79.44183,29.185436,-168.60590,-82.872443,70.76560,-65.975950,97.07716,123.391640,-744.442332,-25.009320
2,100002-query,-64.175095,-3.980927,-7.679249,-170.16093,96.44616,-62.377740,-759.626065,87.477554,131.270110,...,-134.79541,37.368730,-159.66231,-119.232725,67.71044,86.002060,137.63641,141.081630,-294.052271,-70.969604
3,100003-query,-99.286860,16.123936,9.837166,-148.06044,83.69708,-133.729720,58.576403,-19.046660,115.042404,...,-77.23611,44.100494,-132.53012,-106.318982,70.88396,23.577892,133.18396,143.252940,-799.363667,-89.392670
4,100004-query,-79.532920,-0.364173,-16.027431,-170.88495,165.45392,-28.291668,33.931936,34.411217,128.903980,...,-123.77025,45.635944,-134.25893,13.735359,70.61763,15.332115,154.56812,101.700640,-1171.892332,-125.307890

Перед нами датасет validation.csv с 100000 записями, у каждой 72 столбца с данными и еще один столбец с id (в формате n-query, где n - порядковый норер записи)

In [6]:
validation_answer.head()

             Id      Expected
0  100000-query  2676668-base
1  100001-query    91606-base
2  100002-query   472256-base
3  100003-query  3168654-base
4  100004-query    75484-base

В датасете validation_answer находятся ответы для validation.

In [7]:
train.head()

,Id,0,1,2,3,4,5,6,7,8,...,63,64,65,66,67,68,69,70,71,Target
0,0-query,-53.882748,17.971436,-42.117104,-183.93668,187.517490,-87.144930,-347.360606,38.307602,109.085560,...,70.107360,-155.80257,-101.965943,65.903790,34.457500,62.642094,134.763600,-415.750254,-25.958572,675816-base
1,1-query,-87.776370,6.806268,-32.054546,-177.26039,120.803330,-83.810590,-94.572749,-78.433090,124.915900,...,4.669178,-151.69771,-1.638704,68.170876,25.096191,89.974976,130.589630,-1035.092211,-51.276833,366656-base
2,2-query,-49.979565,3.841486,-116.118590,-180.40198,190.128430,-50.837620,26.943937,-30.447489,125.771164,...,78.039764,-169.14620,82.144186,66.008220,18.400496,212.409730,121.931470,-1074.464888,-22.547178,1447819-base
3,3-query,-47.810562,9.086598,-115.401695,-121.01136,94.652840,-109.255410,-775.150134,79.186520,124.003100,...,44.515266,-145.41675,93.990981,64.131350,106.061920,83.178760,118.277725,-1074.464888,-19.902788,1472602-base
4,4-query,-79.632126,14.442886,-58.903397,-147.05254,57.127068,-16.239529,-321.317964,45.984676,125.941284,...,45.028910,-196.09207,-117.626337,66.926220,42.456170,77.621765,92.479930,-1074.464888,-21.149351,717819-base

Перед нами датасет train.csv с 100000 записями. Это тренировочный датасет, в нем есть ид N-query и id товара из base.csv, который максимально похож на него (по мнению экспертов)

## Реализация без FAISS

Самая простая реализация -- это найти 5 ближайщих векторов. Но, к сожалению, нам потребуется слишком много времени: для каждого вектора из validation нужно пройтись по покаждому вектору из base. Это ориентироваочно 10<sup>5</sup> * 3 * 10<sup>6</sup> = 3 * 10<sup>11</sup> операций сравнений, что слишком много. Поэтому это нам не подходит.

Сделаем так, 
* разобъем (классифицируем) датасет base на 100-200 частей, 
* в каждой части посчитаем средний вектор,
* для каждого вектора из validation посчитаем какой из средних векторов ближе
* и уже для найденной группы векторов будем считать 5 минимальных расстояний

### Классификация датасета base

In [8]:
try:
    base = pd.read_csv('data/base_clustered.csv')
except:
    model = KMeans(n_clusters=200)

    data = base.drop('Id', axis=1)
    model.fit(data)
    all_predictions = model.predict(data)
    base['cluster'] = all_predictions
    base.to_csv('base_clustered.csv', index=False)

In [9]:
data = base.drop('Id', axis=1) 
base_vectors = []
for i in range(200):
    base_vectors.append(np.mean(data[data['cluster'] == i]))
    
base_vectors = pd.DataFrame(base_vectors).sort_values(by='cluster', ascending=True).drop('cluster', axis=1)
base_vectors

/Users/alexsavelyev/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3502: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,-87.483865,7.410844,-45.226707,-144.584674,110.911582,-73.814817,-97.135548,29.553578,122.619210,124.154542,...,-78.972521,37.160199,-149.818397,21.057203,67.881712,15.643578,72.117481,112.404793,-243.962998,-50.278991
1,-82.435949,7.956602,-43.924467,-146.275526,113.353112,-76.194968,-476.684165,19.158540,124.599684,118.276949,...,-76.489066,36.396099,-161.444346,-83.823142,67.659389,30.972251,79.057195,113.836984,-1074.899034,-51.320902
2,-84.110651,7.421150,-43.207856,-146.787523,111.456273,-76.044014,-65.937478,19.984497,124.096857,118.507821,...,-78.274715,37.014544,-159.297691,15.443641,67.668720,24.807993,76.206366,114.945825,-1084.239839,-49.682822
3,-93.743863,11.711394,-41.598750,-149.529545,107.661340,-58.361119,-506.658705,55.553003,124.740013,107.048375,...,-81.503309,-16.451386,-154.517113,14.751294,68.337992,11.647984,81.020147,120.273419,-75.719329,-56.373051
4,-85.066219,7.443608,-43.275807,-146.410949,110.536453,-74.936030,-707.000225,22.154570,123.811561,123.517647,...,-80.159462,36.508522,-155.441838,15.909049,67.727752,23.290440,75.666745,114.914289,-1086.357736,-48.878649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-85.681900,7.720329,-52.337126,-145.684602,109.745574,-71.840752,-664.510425,16.327903,124.441523,130.091015,...,-77.409808,33.928543,-152.857029,9.630912,68.062281,33.808159,74.461141,115.941221,-994.456596,-40.875932
196,-85.029751,7.609359,-41.821194,-146.653068,111.176361,-74.336838,-505.167672,22.557034,123.584140,122.588103,...,-82.186326,35.748691,-154.240574,38.550061,67.817361,22.634790,73.940107,116.036179,-720.711400,-48.118185
197,-87.678824,8.394600,-52.382137,-143.727162,110.314530,-70.689198,-143.153804,23.972175,124.799445,126.545244,...,-76.282188,33.771859,-151.562852,8.770368,68.008265,29.289856,70.825017,116.329859,-1024.813080,-43.066081
198,-89.486273,7.404637,-47.438811,-142.737780,105.315192,-72.736325,-148.128263,19.362856,122.055626,118.585340,...,-78.945205,37.490485,-139.805165,-9.883731,67.808153,19.029194,73.131670,114.443322,-1031.629812,-47.925848
199,-86.905099,8.236443,-52.558358,-143.426689,110.779869,-69.840246,-182.205154,25.949498,124.644279,126.324654,...,-77.318789,34.142710,-151.345540,9.863897,67.986942,28.833727,70.036236,115.864599,-1027.226647,-42.037183

In [10]:
def get_nearest_neighbor(features, vector, top=1):
    distancies = [];
    for feature_index, row in features.iterrows():
        dis = distance.euclidean(np.array(features.loc[feature_index].values), vector)
        distancies.append(dis)
    distancies_df = pd.DataFrame(data=distancies, columns=['dist'], index=features.index)
    distancies_df = distancies_df.sort_values(by='dist', ascending=True) 
    
    return distancies_df.head(top).index.values

In [11]:
def calculate_accuracy5(predict, answer):
    points = 0
    for index in range(len(answer)):
        if answer[index] in predict[index]:
            points += 1
    return points/len(answer)

In [12]:
%%time
valid = validation.drop(['Id'], axis=1).head(100)
predicts = []
expected = []
for vector_index in range(len(valid)):
    # получаем index главного вектора
    result = get_nearest_neighbor(base_vectors, valid.loc[vector_index])
    features = data[data['cluster'] == result[0]].drop('cluster', axis=1)
    # получаем индексы топ 5 ближайщих соседей
    top_five_index = get_nearest_neighbor(features, valid.loc[vector_index], 5)
    # получаем 5 самых ближайщих товаров
    top_five = base.loc[top_five_index]['Id'].values
    
    predicts.append(top_five)
    expected.append(validation_answer.loc[vector_index]['Expected'])
    
calculate_accuracy5(predicts, expected)

CPU times: user 1min 43s, sys: 947 ms, total: 1min 44s
Wall time: 1min 44s

0.04

**Вывод:** высокой оценки добиться не удалось, а считается слишком долго.

## Реализация с FAISS

In [13]:
%%time
dim = 72
index = faiss.IndexFlatL2(dim)
index.add(data.drop('cluster', axis=1))
k = 5

predicts = []
expected = []
valid = validation.drop('Id', axis=1)
for vector_index in range(len(valid)):
    dist, ind = index.search(valid[vector_index:vector_index+1], k=k)
    top_five_index = ind[0]
    top_five = base.loc[top_five_index]['Id'].values
    
    predicts.append(top_five)
    expected.append(validation_answer.loc[vector_index]['Expected'])
    if vector_index % 100 == 0:
        print(vector_index)
    
calculate_accuracy5(predicts, expected)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500
28600
28700
28800
28900
29000
29100
29200
29300
29400
29500
29600
29700
29800
29900
30000
30100
30200
30300
30400
30500
30600
30700
30800
30900
31000
31100
31200
31300
31400
31500
31600
31700
31800
31900
32000
32100
32200
32300
32400
32500
32600
32700
32800
32900
33000
33100
33200
33300
33400
33500
33600
33700
33800
33900
34000
34100
34200
34300
34400
34500
34600
34700
34800
34900
35000
35100
35200
35300
35400
35500
35600
35700
35800
35900
36000
36100
36200
36300
36400
36500
36600
36700
36800
36900
37000
37100
37200
37300
37400
37500
37600
37700
37800
37900
38000
38100
38200
38300
38400
38500
38600
38700
38800
38900
39000
39100
39200
39300
39400
39500
39600
39700
39800
39900
40000
40100
40200
40300
40400
40500
40600
40700
40800
40900
41000
41100
41200
41300
41400
41500
41600
41700
41800
41900
42000
42100
42200
42300
42400
42500
42600
42700
42800
42900
43000
43100
43200
43300
43400
43500
43600
43700
43800
43900
44000
44100
44200
44300
44400
44500
44600
44700
44800
44900
45000
45100
45200
45300
45400
45500
45600
45700
45800
45900
46000
46100
46200
46300
46400
46500
46600
46700
46800
46900
47000
47100
47200
47300
47400
47500
47600
47700
47800
47900
48000
48100
48200
48300
48400
48500
48600
48700
48800
48900
49000
49100
49200
49300
49400
49500
49600
49700
49800
49900
50000
50100
50200
50300
50400
50500
50600
50700
50800
50900
51000
51100
51200
51300
51400
51500
51600
51700
51800
51900
52000
52100
52200
52300
52400
52500
52600
52700
52800
52900
53000
53100
53200
53300
53400
53500
53600
53700
53800
53900
54000
54100
54200
54300
54400
54500
54600
54700
54800
54900
55000
55100
55200
55300
55400
55500
55600
55700
55800
55900
56000
56100
56200
56300
56400
56500
56600
56700
56800
56900
57000
57100
57200
57300
57400
57500
57600
57700
57800
57900
58000
58100
58200
58300
58400
58500
58600
58700
58800
58900
59000
59100
59200
59300
59400
59500
59600
59700
59800
59900
60000
60100
60200
60300
60400
60500
60600
60700
60800
60900
61000
61100
61200
61300
61400
61500
61600
61700
61800
61900
62000
62100
62200
62300
62400
62500
62600
62700
62800
62900
63000
63100
63200
63300
63400
63500
63600
63700
63800
63900
64000
64100
64200
64300
64400
64500
64600
64700
64800
64900
65000
65100
65200
65300
65400
65500
65600
65700
65800
65900
66000
66100
66200
66300
66400
66500
66600
66700
66800
66900
67000
67100
67200
67300
67400
67500
67600
67700
67800
67900
68000
68100
68200
68300
68400
68500
68600
68700
68800
68900
69000
69100
69200
69300
69400
69500
69600
69700
69800
69900
70000
70100
70200
70300
70400
70500
70600
70700
70800
70900
71000
71100
71200
71300
71400
71500
71600
71700
71800
71900
72000
72100
72200
72300
72400
72500
72600
72700
72800
72900
73000
73100
73200
73300
73400
73500
73600
73700
73800
73900
74000
74100
74200
74300
74400
74500
74600
74700
74800
74900
75000
75100
75200
75300
75400
75500
75600
75700
75800
75900
76000
76100
76200
76300
76400
76500
76600
76700
76800
76900
77000
77100
77200
77300
77400
77500
77600
77700
77800
77900
78000
78100
78200
78300
78400
78500
78600
78700
78800
78900
79000
79100
79200
79300
79400
79500
79600
79700
79800
79900
80000
80100
80200
80300
80400
80500
80600
80700
80800
80900
81000
81100
81200
81300
81400
81500
81600
81700
81800
81900
82000
82100
82200
82300
82400
82500
82600
82700
82800
82900
83000
83100
83200
83300
83400
83500
83600
83700
83800
83900
84000
84100
84200
84300
84400
84500
84600
84700
84800
84900
85000
85100
85200
85300
85400
85500
85600
85700
85800
85900
86000
86100
86200
86300
86400
86500
86600
86700
86800
86900
87000
87100
87200
87300
87400
87500
87600
87700
87800
87900
88000
88100
88200
88300
88400
88500
88600
88700
88800
88900
89000
89100
89200
89300
89400
89500
89600
89700
89800
89900
90000
90100
90200
90300
90400
90500
90600
90700
90800
90900
91000
91100
91200
91300
91400
91500
91600
91700
91800
91900
92000
92100
92200
92300
92400
92500
92600
92700
92800
92900
93000
93100
93200
93300
93400
93500
93600
93700
93800
93900
94000
94100
94200
94300
94400
94500
94600
94700
94800
94900
95000
95100
95200
95300
95400
95500
95600
95700
95800
95900
96000
96100
96200
96300
96400
96500
96600
96700
96800
96900
97000
97100
97200
97300
97400
97500
97600
97700
97800
97900
98000
98100
98200
98300
98400
98500
98600
98700
98800
98900
99000
99100
99200
99300
99400
99500
99600
99700
99800
99900
CPU times: user 42min 14s, sys: 13.9 s, total: 42min 28s
Wall time: 42min 30s

0.13286

**Вывод:** Получилось улучшить оценку. Но не так высоко, как хотелось бы (13.28%)

## Возможные улучшения 
  - Поиграться с данными, попытаться проанализировать значения параметров
  - Попытаться найти разные алгоритмы разбиения на кластеры, проанализировать работу простых алгоритмов при разном кол-ве кластеров
  - Поиграться с параметрами faiss, попробовать разные расстояния
  - Попробовать Annoy